@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.image-top {
  width: 100vw;
  height: 20vh;
}

.image-bottom {
  width: 100vw;
  height: 20vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;

  &__content {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    &__title {
      padding-top: 32px;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      color: variables.$purple;
      letter-spacing: 3px;

      @media (max-width: 600px) {
        font-size: 32px;
      }
      @media (max-width: 532px) {
        font-size: 24px;
      }
    }

    &__time {
      display: flex;
      padding: 20px 0;
      justify-content: space-between;

      p {
        text-align: center;
        font-size: 14px;
        color: variables.$light-grey;
        padding-left: 32px;
      }

      @media (max-width: 532px) {
      }
    }

    &__countdown {
      width: 100%;
      p {
        font-size: 72px;
        color: variables.$black;
        white-space: nowrap;

        @media (max-width: 600px) {
          font-size: 64px;
        }
        @media (max-width: 532px) {
          font-size: 48px;
        }
      }
    }

    &__text {
      padding: 20px 0;
      font-size: 14px;
      color: variables.$text-color;
    }

    &__button {
      background-color: variables.$purple;
      padding: 12px 32px;
      font-size: 16px;
      border: none;
      border-radius: 12px;
      cursor: pointer;

      a {
        color: #fff;
      }
    }
  }
  &__branding {
    @media (max-width: 1200px) {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    padding-top: 6vh;
  }
}
